@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
}  


@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
} 


